<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.pms.domain.task.defect.mapper.DefectMapper">
    <resultMap id="DefectListDto" type="DefectResponseDto">
        <result property="defectTitle" column="defectTitle" />
        <result property="priority" column="priority" />
        <result property="status" column="status" />
        <result property="discoverName" column="discoverName" />
        <result property="workName" column="workName" />
        <result property="discoverDate" column="discoverDate" />
        <result property="scheduleWorkDate" column="scheduleWorkDate" />
        <result property="workDate" column="workDate" />
        <association property="defectItem" column="defectItem">
            <id property="defectNumber" column="defectNumber" />
            <result property="defectId" column="defectId" />
        </association>
    </resultMap>

    <resultMap id="codeOptions" type="com.kcc.pms.domain.common.model.dto.CommonCodeOptions">
        <id column="COMMON_CD_NO" property="common_cd_no"/>
        <collection property="codes" resultMap="codeDetails"/>
    </resultMap>

    <resultMap id="codeDetails" type="com.kcc.pms.domain.common.model.vo.CommonCodeVO">
        <result column="CD_DTL_NO" property="cd_dtl_no"/>
        <result column="CD_DTL_NM" property="cd_dtl_nm"/>
        <result column="ORDER_NO" property="order_no"/>
    </resultMap>

    <select id="getDefectCommonCodeOptions" resultMap="codeOptions">
        SELECT common_cd_no, cd_dtl_no, cd_dtl_nm, order_no
        FROM codedetail
        WHERE common_cd_no IN( 'PMS006','PMS007','PMS008')
        ORDER BY common_cd_no, order_no
    </select>
    
    <insert id="saveDefect" parameterType="map">
        <selectKey keyProperty="defect.defectNumber" resultType="long" order="BEFORE">
            SELECT seq_defect.nextval FROM dual
        </selectKey>

        INSERT INTO DEFECT
        (df_no, df_id, test_dtl_no, df_ttl, stat_cd, pri_cd, type_cd, df_cont, df_fd_dt, due_dt, work_dt,
         df_work_cont, fl_ms_fd_no, fl_ms_work_no, mem_fd_no, mem_work_no, work_no, prj_no, test_no)
        VALUES
        (
         #{defect.defectNumber}, #{defect.defectId, jdbcType=VARCHAR}, #{defect.testDetailNo, jdbcType=NUMERIC}, #{defect.defectTitle, jdbcType=VARCHAR},
         #{defect.statusSelect, jdbcType=VARCHAR}, #{defect.prioritySelect, jdbcType=VARCHAR}, #{defect.typeSelect, jdbcType=VARCHAR}, #{defect.defectContent, jdbcType=VARCHAR},
         #{defect.discoverDate, jdbcType=DATE}, #{defect.scheduleWorkDate, jdbcType=DATE}, #{defect.workDate, jdbcType=DATE},
         #{defect.workContent, jdbcType=VARCHAR}, #{fileMasterFoundNumber, jdbcType=NUMERIC}, #{fileMasterWorkNumber, jdbcType=NUMERIC},
         #{defect.foundMemberNo, jdbcType=NUMERIC}, #{defect.workMemberNo, jdbcType=NUMERIC},
         #{defect.systemNumber, jdbcType=NUMERIC}, #{projectNumber, jdbcType=NUMERIC}, #{defect.testNo, jdbcType=NUMERIC}
         )
    </insert>

    <update id="updateDefect" parameterType="map">
        UPDATE defect
        SET
            df_id = #{defect.defectId, jdbcType=VARCHAR},
            df_ttl = #{defect.defectTitle, jdbcType=VARCHAR},
            stat_cd = #{defect.statusSelect, jdbcType=VARCHAR},
            pri_cd = #{defect.prioritySelect, jdbcType=VARCHAR},
            type_cd = #{defect.typeSelect, jdbcType=VARCHAR},
            df_cont = #{defect.defectContent, jdbcType=VARCHAR},
            df_fd_dt = #{defect.discoverDate, jdbcType=DATE},
            due_dt = #{defect.scheduleWorkDate, jdbcType=DATE},
            mem_fd_no = #{defect.foundMemberNo, jdbcType=NUMERIC},
            mem_work_no = #{defect.workMemberNo, jdbcType=NUMERIC},
            work_dt = #{defect.workDate, jdbcType=DATE},
            df_work_cont = #{defect.workContent, jdbcType=VARCHAR},
            work_no = #{defect.systemNumber, jdbcType=NUMERIC}
        WHERE df_no = #{defect.defectNumber}
    </update>

    <select id="getDefect" parameterType="long" resultType="DefectDto">
        SELECT
            df_no AS defectNumber,
            df_ttl AS defectTitle,
            df_id AS defectId,
            defect.test_no AS testNo,
            td.test_dtl_no AS testDetailNo,
            td.test_dtl_id AS testDetailId,
            df_cont AS defectContent,
            df_fd_dt AS discoverDate,
            due_dt AS scheduleWorkDate,
            mem_fd_no AS foundMemberNo,
            mem_work_no AS workMemberNo,
            mem_fd.mem_nm AS foundMemberName,
            mem_work.mem_nm AS workMemberName,
            work_dt AS workDate,
            df_work_cont AS workContent,
            stat_cd AS statusSelect,
            work_no AS systemNumber,
            pri_cd AS prioritySelect,
            type_cd AS typeSelect
        FROM defect
        left join testdetail td on defect.test_dtl_no = td.test_dtl_no
        left join member mem_fd on defect.mem_fd_no = mem_fd.mem_no
        left join member mem_work on defect.mem_work_no = mem_work.mem_no
        WHERE df_no = #{defectNumber}
    </select>

    <select id="getDefectList" resultMap="DefectListDto">
        SELECT *
        FROM (
        SELECT sub.*, ROWNUM rn
        FROM (
        SELECT
        defect.df_no AS defectNumber,
        defect.df_id AS defectId,
        defect.df_ttl AS defectTitle,
        pri.cd_dtl_nm AS priority,
        st.cd_dtl_nm AS status,
        mem_fd.mem_nm as discoverName,
        mem_work.mem_nm as workName,
        defect.df_fd_dt AS discoverDate,
        defect.due_dt AS scheduleWorkDate,
        defect.work_dt AS workDate
        FROM defect
        LEFT JOIN member mem_fd ON defect.mem_fd_no = mem_fd.mem_no
        LEFT JOIN member mem_work ON defect.mem_work_no = mem_work.mem_no
        LEFT JOIN codedetail pri ON defect.pri_cd = pri.cd_dtl_no
        LEFT JOIN System sys ON defect.work_no = sys.sys_no
        LEFT JOIN codedetail st ON defect.stat_cd = st.cd_dtl_no
        WHERE defect.prj_no = #{projectNumber}
        <if test="workNo != 0">
          AND defect.work_no = #{workNo} OR sys.par_sys_no = #{workNo}
        </if>
        <if test="
        type != 'all'">AND type_cd = #{type}
        </if>
        <if test="
        status != 'all'">AND stat_cd = #{status}
        </if>
        <if test="search != ''">
            AND (df_id LIKE '%' || #{search} || '%' OR df_ttl LIKE '%' || #{search} || '%' OR df_cont LIKE '%' || #{search} || '%')
        </if>
        ORDER BY df_fd_dt DESC
        ) sub
        <![CDATA[
        WHERE ROWNUM <= #{page} * #{limit}
        ]]>
        )
        WHERE rn > (#{page} - 1) * #{limit}
    </select>

    <select id="getDefectTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM defect
        LEFT JOIN member mem_fd ON defect.mem_fd_no = mem_fd.mem_no
        LEFT JOIN member mem_work ON defect.mem_work_no = mem_work.mem_no
        LEFT JOIN codedetail pri ON defect.pri_cd = pri.cd_dtl_no
        LEFT JOIN codedetail st ON defect.stat_cd = st.cd_dtl_no
        WHERE prj_no = #{projectNumber}
        <if test="workNo != 0">
            AND work_no = #{workNo}
        </if>
        <if test="status != 'all'">
            AND stat_cd = #{status}
        </if>
        <if test="search != ''">
            AND (df_id LIKE '%' || #{search} || '%'
            OR df_ttl LIKE '%' || #{search} || '%'
            OR df_cont LIKE '%' || #{search} || '%')
        </if>
    </select>

    <select id="getFileMasterNumbers" resultType="FileMasterNumbers">
        SELECT
            fl_ms_fd_no AS fileMasterFoundNumber,
            fl_ms_work_no AS fileMasterWorkNumber
        FROM defect
        WHERE df_no = #{defectNumber}
    </select>

    <delete id="deleteDefect" parameterType="long">
        DELETE FROM defect
        WHERE df_no = #{defectNumber}
    </delete>

    <update id="updateFileMasterNumbers" parameterType="map">
        UPDATE defect
        <set>
            <if test="fileMasterFoundNumber != null">
                fl_ms_fd_no = #{fileMasterFoundNumber, jdbcType=NUMERIC},
            </if>
            <if test="fileMasterWorkNumber != null">
                fl_ms_work_no = #{fileMasterWorkNumber, jdbcType=NUMERIC}
            </if>
        </set>
        WHERE df_no = #{no}
    </update>
</mapper>
