<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.pms.domain.risk.mapper.RiskMapper">

    <resultMap id="codeOptions" type="com.kcc.pms.domain.common.model.dto.CommonCodeOptions">
        <id column="COMMON_CD_NO" property="common_cd_no"/>
        <collection property="codes" resultMap="codeDetails"/>
    </resultMap>

    <resultMap id="codeDetails" type="com.kcc.pms.domain.common.model.vo.CommonCodeVO">
        <result column="CD_DTL_NO" property="cd_dtl_no"/>
        <result column="CD_DTL_NM" property="cd_dtl_nm"/>
        <result column="ORDER_NO" property="order_no"/>
    </resultMap>

    <select id="getRiskCommonCode" resultMap="codeOptions">
        SELECT common_cd_no, cd_dtl_no, cd_dtl_nm, order_no
        FROM codedetail
        WHERE (COMMON_CD_NO IN ('PMS005', 'PMS006'))
           OR (COMMON_CD_NO = 'PMS004' AND FIELD_2 = 'Y') AND use_yn = 'Y'
        ORDER BY COMMON_CD_NO, ORDER_NO
    </select>

    <insert id="saveRisk">
        <selectKey keyProperty="req.riskNumber" resultType="long" order="BEFORE">
            SELECT seq_risk.nextval FROM dual
        </selectKey>

        INSERT INTO RISK
        (risk_no, risk_id, rsk_ttl, type_cd, class_cd, stat_cd, pri_cd, risk_cont, risk_plan, due_dt, compl_dt,
        prj_no, sys_no, mem_no, fl_ms_act_no, fl_ms_fd_no)
        VALUES
        (
        #{req.riskNumber}, #{req.riskId, jdbcType=VARCHAR}, #{req.riskTitle, jdbcType=VARCHAR},
        'PMS00302', #{req.classCode, jdbcType=VARCHAR}, #{req.statusCode, jdbcType=VARCHAR}, #{req.priorCode, jdbcType=VARCHAR},
         #{req.riskContent, jdbcType=VARCHAR}, #{req.riskPlan, jdbcType=VARCHAR}, #{req.dueDate, jdbcType=DATE},
          #{req.completeDate, jdbcType=DATE}, #{req.prjNo}, #{req.systemNo, jdbcType=NUMERIC}, #{req.memberNo, jdbcType=NUMERIC},
        #{fileMasterWorkNumber, jdbcType=NUMERIC}, #{fileMasterFoundNumber, jdbcType=NUMERIC}
        )
    </insert>

    <select id="getFileMasterNumbers" resultType="FileMasterNumbers">
        SELECT
            fl_ms_fd_no AS fileMasterFoundNumber,
            fl_ms_act_no AS fileMasterWorkNumber
        FROM risk
        WHERE risk_no = #{riskNo}
    </select>

    <select id="getRiskByNo" resultType="com.kcc.pms.domain.risk.model.dto.RiskDto">
        SELECT
            r.risk_no as riskNumber,
            r.risk_id as riskId,
            r.rsk_ttl as riskTitle,
            r.class_cd as classCode,
            r.stat_cd as statusCode,
            r.pri_cd as priorCode,
            r.risk_cont as riskContent,
            r.risk_plan as riskPlan,
            r.due_dt as dueDate,
            r.compl_dt as completeDate,
            r.prj_no as prjNo,
            r.sys_no as systemNo,
            r.mem_no as memberNo,
            m.mem_nm as memberName
        FROM
            risk r,
            member m
        WHERE
            r.type_cd = 'PMS00302'
          AND r.mem_no = m.mem_no
          AND r.risk_no = #{riskNo}
    </select>


    <update id="updateRiskInfo" parameterType="com.kcc.pms.domain.risk.model.dto.RiskDto">
        UPDATE risk
        <set>
            <if test="riskTitle != null">RSK_TTL = #{riskTitle},</if>
            <if test="classCode != null">CLASS_CD = #{classCode},</if>
            <if test="riskId != null">RISK_ID = #{riskId},</if>
            <if test="priorCode != null">PRI_CD = #{priorCode},</if>
            <if test="riskContent != null">RISK_CONT = #{riskContent},</if>
            <if test="riskPlan != null">RISK_PLAN = #{riskPlan},</if>
            <if test="dueDate != null">DUE_DT = #{dueDate},</if>
            <if test="completeDate != null">COMPL_DT = #{completeDate},</if>
            <if test="statusCode != null">STAT_CD = #{statusCode},</if>
            SYS_NO = #{systemNo, jdbcType=NUMERIC},
            <if test="memberNo != null">MEM_NO = #{memberNo},</if>
            <if test="prjNo != null">PRJ_NO = #{prjNo}</if>
        </set>
        WHERE RISK_NO = #{riskNumber}
    </update>

    <select id="getRiskList" parameterType="java.util.Map" resultType="com.kcc.pms.domain.risk.model.dto.RiskSummaryResponseDto">
        SELECT *
        FROM (
        SELECT
        r.risk_no AS riskNo,
        r.rsk_ttl AS riskTitle,
        m.mem_nm AS findMember,
        class.cd_dtl_nm AS className,
        stat.cd_dtl_nm AS status,
        pri.cd_dtl_nm AS priority,
        SUBSTR((SELECT SYS_CONNECT_BY_PATH(s2.sys_ttl, ' > ')
        FROM system s2
        WHERE s2.sys_no = s.sys_no
        START WITH s2.par_sys_no IS NULL
        CONNECT BY PRIOR s2.sys_no = s2.par_sys_no), 3) AS system,
        r.due_dt AS dueDate,
        r.compl_dt AS completeDate,
        ROW_NUMBER() OVER (ORDER BY NVL(s.par_sys_no, s.sys_no), CASE WHEN s.par_sys_no IS NULL THEN 0 ELSE 1 END, s.sys_no) AS rn
        FROM
        risk r
        LEFT JOIN system s ON r.sys_no = s.sys_no
        LEFT JOIN member m ON r.mem_no = m.mem_no
        JOIN codedetail type ON r.type_cd = type.cd_dtl_no
        JOIN codedetail class ON r.class_cd = class.cd_dtl_no
        JOIN codedetail stat ON r.stat_cd = stat.cd_dtl_no
        JOIN codedetail pri ON r.pri_cd = pri.cd_dtl_no
        WHERE
        r.prj_no = #{prjNo, jdbcType=NUMERIC}

        <if test="systemNo != null and systemNo !=''">
            AND (s.sys_no = #{systemNo, jdbcType=NUMERIC}
            OR s.sys_no IN (
            SELECT sys_no FROM system
            START WITH sys_no = #{systemNo, jdbcType=NUMERIC}
            CONNECT BY PRIOR sys_no = par_sys_no))
        </if>

        <if test="selectedClassNo != null and selectedClassNo != ''">
            AND r.class_cd = #{selectedClassNo}
        </if>

        <if test="selectedStatusNo != null and selectedStatusNo != ''">
            AND r.stat_cd = #{selectedStatusNo}
        </if>

        <if test="selectedPriorNo != null and selectedPriorNo != ''">
            AND r.pri_cd = #{selectedPriorNo}
        </if>

        <if test="keyword != null and keyword != ''">
            AND LOWER(r.rsk_ttl) LIKE LOWER('%' || #{keyword} || '%')
        </if>
        ) WHERE rn BETWEEN #{startRow, jdbcType=NUMERIC} AND #{endRow, jdbcType=NUMERIC}
    </select>

    <select id="countRisks" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*) AS totalRecords
        FROM
        risk r
        LEFT JOIN system s ON r.sys_no = s.sys_no
        LEFT JOIN member m ON r.mem_no = m.mem_no
        JOIN codedetail type ON r.type_cd = type.cd_dtl_no
        JOIN codedetail class ON r.class_cd = class.cd_dtl_no
        JOIN codedetail stat ON r.stat_cd = stat.cd_dtl_no
        JOIN codedetail pri ON r.pri_cd = pri.cd_dtl_no
        WHERE
        r.prj_no = #{prjNo, jdbcType=NUMERIC}

        <if test="systemNo != null and systemNo !=''">
            AND (s.sys_no = #{systemNo, jdbcType=NUMERIC}
            OR s.sys_no IN (
            SELECT sys_no FROM system
            START WITH sys_no = #{systemNo, jdbcType=NUMERIC}
            CONNECT BY PRIOR sys_no = par_sys_no))
        </if>

        <if test="selectedClassNo != null and selectedClassNo != ''">
            AND r.class_cd = #{selectedClassNo}
        </if>

        <if test="selectedStatusNo != null and selectedStatusNo != ''">
            AND r.stat_cd = #{selectedStatusNo}
        </if>

        <if test="selectedPriorNo != null and selectedPriorNo != ''">
            AND r.pri_cd = #{selectedPriorNo}
        </if>

        <if test="keyword != null and keyword != ''">
            AND LOWER(r.rsk_ttl) LIKE LOWER('%' || #{keyword} || '%')
        </if>
    </select>
</mapper>