<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.pms.domain.output.mapper.FileMapper">
    <insert id="saveFileMaster" parameterType="FileMasterVO">
        <selectKey keyProperty="fileMasterNumber" resultType="Long" order="BEFORE">
            SELECT seq_filemaster.NEXTVAL FROM dual
        </selectKey>
        INSERT INTO FileMaster (fl_ms_no, fl_cd, use_yn)
        VALUES (#{fileMasterNumber}, #{fileCode, jdbcType=VARCHAR}, 'Y')
    </insert>

    <insert id="saveFileDetails" parameterType="map">
        INSERT INTO FileDetail (fl_no, original_ttl, file_path, fl_type, fl_size, fl_ms_no, reg_id, reg_dt)
        VALUES (seq_filedetail.nextval, #{originalTitle, jdbcType=VARCHAR}, #{filePath, jdbcType=VARCHAR}, #{fileType, jdbcType=VARCHAR},
                #{fileSize, jdbcType=VARCHAR}, #{fileMasterNumber, jdbcType=NUMERIC}, #{registerId, jdbcType=VARCHAR}, sysdate)
    </insert>

    <select id="findFilesDetails" parameterType="long" resultType="list">
        SELECT file_path AS filePath
        FROM filedetail
        WHERE fl_ms_no = #{fileMasterNumber}
    </select>

    <delete id="deleteFileDetails" parameterType="map">
        update filedetail set del_id=#{deleteName}, del_dt=sysdate where fl_ms_no = #{fileMasterNumber}
    </delete>

    <delete id="deleteFileDetail" parameterType="map">
        update filedetail set del_id=#{deleteName}, del_dt=sysdate where fl_no = #{fileDetailNumber}
    </delete>

    <select id="getFileDetailsRes" parameterType="long" resultType="FileResponseDto">
        SELECT
            fl_no AS fileNumber,
            file_path AS filePath,
            original_ttl AS FileName,
            fl_size AS fileSize
        FROM filedetail
        WHERE fl_ms_no = #{fileMasterNumber, jdbcType=NUMERIC}
        and del_id is null
    </select>

    <select id="deleteFileMaster" parameterType="long">
        DELETE FROM filemaster
        WHERE fl_ms_no = #{fileMasterNumber}
    </select>

    <select id="findFileMasterNumber" parameterType="long">
        SELECT
            fl_ms_no AS fileMasterNumber
        FROM Output
        WHERE opt_no = #{outputNumber}
    </select>

    <select id="findFileDetailTitle" parameterType="long">
        SELECT
            file_path AS filePath
        FROM filedetail
        WHERE fl_no = #{fileNumber}
    </select>
</mapper>