<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.pms.domain.task.defect.mapper.DefectMapper">
    <insert id="saveDefect" parameterType="map">
        <selectKey keyProperty="defect.defectNumber" resultType="long" order="BEFORE">
            SELECT seq_defect.nextval FROM dual
        </selectKey>

        INSERT INTO DEFECT
        (df_no, df_id, df_ttl, stat_cd, pri_cd, df_cont, df_fd_dt, due_dt, work_dt,
         df_work_cont, fl_ms_fd_no, fl_ms_work_no, test_dtl_no, mem_fd_no, mem_work_no, work_no, prj_no)
        VALUES
        (
         #{defect.defectNumber}, #{defect.defectId, jdbcType=VARCHAR}, #{defect.defectTitle, jdbcType=VARCHAR},
         #{status, jdbcType=VARCHAR}, #{priority, jdbcType=VARCHAR}, #{defect.defectContent, jdbcType=VARCHAR},
         #{defect.discoverDate, jdbcType=DATE}, #{defect.scheduleWorkDate, jdbcType=DATE}, #{defect.workDate, jdbcType=DATE},
         #{defect.workContent, jdbcType=VARCHAR}, #{numbers[0], jdbcType=NUMERIC}, #{numbers[1], jdbcType=NUMERIC},
         #{defect.testNumber, jdbcType=NUMERIC}, 1, 1, 1, #{projectNumber, jdbcType=NUMERIC}
         )
    </insert>
</mapper>
