<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.pms.domain.feature.mapper.FeatureMapper">

    <resultMap id="codeOptions" type="com.kcc.pms.domain.common.model.dto.CommonCodeOptions">
        <id column="COMMON_CD_NO" property="common_cd_no"/>
        <collection property="codes" resultMap="codeDetails"/>
    </resultMap>

    <resultMap id="codeDetails" type="com.kcc.pms.domain.common.model.vo.CommonCodeVO">
        <result column="CD_DTL_NO" property="cd_dtl_no"/>
        <result column="CD_DTL_NM" property="cd_dtl_nm"/>
        <result column="ORDER_NO" property="order_no"/>
    </resultMap>

    <select id="getFeatureCommonCode" resultMap="codeOptions">
        SELECT common_cd_no, cd_dtl_no, cd_dtl_nm, order_no
        FROM codedetail
        WHERE common_cd_no IN( 'PMS006','PMS009','PMS010','PMS011')
        ORDER BY common_cd_no, order_no
    </select>

</mapper>