<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.pms.domain.feature.mapper.FeatureMapper">

    <resultMap id="codeOptions" type="com.kcc.pms.domain.common.model.dto.CommonCodeOptions">
        <id column="COMMON_CD_NO" property="common_cd_no"/>
        <collection property="codes" resultMap="codeDetails"/>
    </resultMap>

    <resultMap id="codeDetails" type="com.kcc.pms.domain.common.model.vo.CommonCodeVO">
        <result column="CD_DTL_NO" property="cd_dtl_no"/>
        <result column="CD_DTL_NM" property="cd_dtl_nm"/>
        <result column="ORDER_NO" property="order_no"/>
    </resultMap>

    <select id="getFeatureCommonCode" resultMap="codeOptions">
        SELECT common_cd_no, cd_dtl_no, cd_dtl_nm, order_no
        FROM codedetail
        WHERE common_cd_no IN( 'PMS006','PMS009','PMS010','PMS011')
        ORDER BY common_cd_no, order_no
    </select>


    <insert id="createFeature" parameterType="FeatureCreateRequestDto">
        <selectKey keyProperty="featNo" resultType="long" order="BEFORE">
            SELECT seq_feature.NEXTVAL FROM dual
        </selectKey>

        INSERT INTO Feature (
        feat_no, feat_id, feat_title, feat_cont, pre_st_dt, pre_end_dt, st_dt, end_dt,
        stat_cd, pri_cd, prg, diff_cd, class_cd, use_yn, sys_no, mem_no, tm_no, prj_no
        ) VALUES (
        #{featNo}, #{featId}, #{featTitle}, #{featDescription},
        <if test="preStartDateStr != null and preStartDateStr != ''">#{preStartDateStr},</if>
        <if test="preStartDateStr == null or preStartDateStr == ''">NULL,</if>
        <if test="preEndDateStr != null and preEndDateStr != ''">#{preEndDateStr},</if>
        <if test="preEndDateStr == null or preEndDateStr == ''">NULL,</if>
        <if test="startDateStr != null and startDateStr != ''">#{startDateStr},</if>
        <if test="startDateStr == null or startDateStr == ''">NULL,</if>
        <if test="endDateStr != null and endDateStr != ''">#{endDateStr},</if>
        <if test="endDateStr == null or endDateStr == ''">NULL,</if>
        #{statusCode}, #{priorCode}, #{progress},
        <if test="diffCode != null and diffCode != ''">#{diffCode},</if>
        <if test="diffCode == null or diffCode == ''">NULL,</if>
        <if test="classCode != null and classCode != ''">#{classCode},</if>
        <if test="classCode == null or classCode == ''">NULL,</if>
        'Y',
        <if test="systemNo != null">#{systemNo},</if>
        <if test="systemNo == null">NULL,</if>
        <if test="memberNo != null">#{memberNo},</if>
        <if test="memberNo == null">NULL,</if>
        <if test="teamNo != null">#{teamNo},</if>
        <if test="teamNo == null">NULL,</if>
        #{prjNo}
        )
    </insert>

    <select id="getProgressSummary" resultType="com.kcc.pms.domain.feature.model.dto.FeatureProgressResponseDto">
        SELECT
        ROUND(SUM(f.prg) / COUNT(f.feat_no), 2) AS progress,
        COUNT(f.feat_no) AS total,
        COUNT(CASE WHEN f.prg &lt; 100 AND SYSDATE &lt; f.pre_end_dt THEN 1 END) AS presentCount,
        COUNT(CASE WHEN f.prg = 100 THEN 1 END) AS complete,
        COUNT(CASE WHEN f.prg &lt; 100 AND SYSDATE &gt; f.pre_end_dt THEN 1 END) AS delay
        FROM
        System s
        JOIN Feature f ON f.sys_no = s.sys_no
        WHERE
        s.prj_no = #{prjNo}

        <if test="systemNo != null">
            AND (f.sys_no = #{systemNo} OR f.sys_no IN (
            SELECT sys_no FROM System
            START WITH sys_no = #{systemNo}
            CONNECT BY PRIOR sys_no = par_sys_no
            ))
        </if>

        <if test="featClassCd != null and featClassCd != ''">
            AND f.class_cd = #{featClassCd}
        </if>
    </select>



    <select id="getSystemFeatureList" resultType="com.kcc.pms.domain.feature.model.dto.FeatureSummaryResponseDto">
        SELECT *
        FROM (
        SELECT
        sub.*,
        ROW_NUMBER() OVER (ORDER BY sub.order_no) AS rn
        FROM (
        SELECT
        f.feat_no AS featureNo,
        f.feat_id AS featureId,
        f.feat_title AS featureTitle,
        m.mem_nm AS memberName,
        f.prg AS progress,
        s.sys_ttl AS system,
        st.cd_dtl_nm AS status,
        st.order_no,
        CASE
        WHEN f.pre_end_dt >= SYSDATE THEN 'D-' || TRUNC(f.pre_end_dt - SYSDATE)
        ELSE 'D+' || ABS(TRUNC(SYSDATE - f.pre_end_dt))
        END AS remainingDays
        FROM
        feature f
        LEFT JOIN system s ON f.sys_no = s.sys_no
        LEFT JOIN member m ON f.mem_no = m.mem_no
        JOIN codedetail st ON f.stat_cd = st.cd_dtl_no
        WHERE
        f.prj_no = #{prjNo}
        <if test="systemNo != null">
            AND (s.sys_no = #{systemNo}
            OR s.sys_no IN (
            SELECT sys_no FROM system
            START WITH sys_no = #{systemNo}
            CONNECT BY PRIOR sys_no = par_sys_no))
        </if>
        <if test="featClassCd != null and featClassCd != ''">
            AND f.class_cd = #{featClassCd}
        </if>
        <if test="cri.type != null and cri.type != ''">
            AND f.stat_cd = #{cri.type}
        </if>
        <if test="cri.keyword != null and cri.keyword != ''">
            AND LOWER(m.mem_nm) LIKE LOWER('%' || #{cri.keyword} || '%')
        </if>
        ) sub
        ) WHERE rn BETWEEN #{cri.startRow} AND #{cri.endRow}
    </select>

    <select id="getProjectProgressSummary" resultType="com.kcc.pms.domain.feature.model.dto.FeatureProgressResponseDto">
        <![CDATA[
        SELECT
            COUNT(feat_no) AS total,
            COUNT(CASE WHEN prg = 100 THEN 1 END) AS complete,
            COUNT(CASE WHEN prg < 100 AND SYSDATE < pre_end_dt THEN 1 END) AS presentCount,
            COUNT(CASE WHEN prg < 100 AND SYSDATE > pre_end_dt THEN 1 END) AS delay,
            ROUND(AVG(prg), 2) AS progress
        FROM
            FEATURE
        WHERE
            prj_no = #{prjNo}
        ]]>
    </select>


    <select id="getFeatureDetail" resultType="com.kcc.pms.domain.feature.model.dto.FeatureDetailResponseDto">
        SELECT
            f.feat_no as featNo,
            f.feat_id as featId,
            f.feat_title as featTitle,
            f.feat_cont as featDescription,
            f.pre_st_dt as preStartDate,
            f.pre_end_dt as preEndDate,
            f.st_dt as startDate,
            f.end_dt as endDate,
            f.stat_cd as statusCode,
            f.pri_cd as priorCode,
            f.prg as progress,
            f.diff_cd as diffCode,
            f.class_cd as classCode,
            f.sys_no as systemNo,
            f.mem_no as memberNo,
            f.tm_no as teamNo,
            f.prj_no as prjNo,
            s.sys_ttl as systemTitle,
            m.mem_nm as memberName,
            stat.cd_dtl_nm AS status,
            pri.cd_dtl_nm AS priority,
            diff.cd_dtl_nm AS difficulty,
            class.cd_dtl_nm AS className
        FROM
            feature f,
            system s,
            member m,
            codedetail stat,
            codedetail pri,
            codedetail diff,
            codedetail class
        WHERE
            f.sys_no = s.sys_no
          AND f.mem_no = m.mem_no(+)
          AND f.stat_cd = stat.cd_dtl_no
          AND f.pri_cd = pri.cd_dtl_no
          AND f.diff_cd = diff.cd_dtl_no
          AND f.class_cd = class.cd_dtl_no
          AND f.feat_no = #{featNo}
    </select>

    <update id="updateFeature" parameterType="com.kcc.pms.domain.feature.model.dto.FeatureDetailResponseDto">
        UPDATE feature
        SET
        feat_id = #{featId},
        feat_title = #{featTitle},
        feat_cont = #{featDescription}
        <if test="preStartDateStr != null and preStartDateStr != ''">
            , pre_st_dt = TO_DATE(#{preStartDateStr}, 'YYYY-MM-DD')
        </if>
        <if test="preEndDateStr != null and preEndDateStr != ''">
            , pre_end_dt = TO_DATE(#{preEndDateStr}, 'YYYY-MM-DD')
        </if>
        <if test="startDateStr != null and startDateStr != ''">
            , st_dt = TO_DATE(#{startDateStr}, 'YYYY-MM-DD')
        </if>
        <if test="endDateStr != null and endDateStr != ''">
            , end_dt = TO_DATE(#{endDateStr}, 'YYYY-MM-DD')
        </if>
        <if test="statusCode != null and statusCode != ''">
            , stat_cd = #{statusCode}
        </if>
        <if test="priorCode != null and priorCode != ''">
            , pri_cd = #{priorCode}
        </if>
        <if test="progress != null">
            , prg = #{progress}
        </if>
        <if test="diffCode != null and diffCode != ''">
            , diff_cd = #{diffCode}
        </if>
        <if test="classCode != null and classCode != ''">
            , class_cd = #{classCode}
        </if>
        <if test="systemNo != null">
            , sys_no = #{systemNo}
        </if>
        <if test="memberNo != null">
            , mem_no = #{memberNo}
        </if>
        <if test="teamNo != null">
            , tm_no = #{teamNo}
        </if>
        WHERE feat_no = #{featNo}
    </update>


    <select id="countFeatures" resultType="int">
        SELECT COUNT(*)
        FROM feature f
        LEFT JOIN system s ON f.sys_no = s.sys_no
        LEFT JOIN member m ON f.mem_no = m.mem_no
        JOIN codedetail st ON f.stat_cd = st.cd_dtl_no
        WHERE f.prj_no = #{prjNo}
        <if test="systemNo != null">
            AND (f.sys_no = #{systemNo}
            OR f.sys_no IN (
            SELECT sys_no FROM system
            START WITH sys_no = #{systemNo}
            CONNECT BY PRIOR sys_no = par_sys_no
            ))
        </if>
        <if test="featClassCd != null and featClassCd != ''">
            AND f.class_cd = #{featClassCd}
        </if>
        <if test="cri.type != null and cri.type != ''">
            AND f.stat_cd = #{cri.type}
        </if>
        <if test="cri.keyword != null and cri.keyword != ''">
            AND LOWER(m.mem_nm) LIKE LOWER('%' || #{cri.keyword} || '%')
        </if>
    </select>
</mapper>