<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.pms.domain.system.mapper.SystemMapper">
    <cache />

    <select id="getSystemsByProjectNo" resultType="com.kcc.pms.domain.system.model.dto.SystemResponseDTO">
        SELECT sys_no AS systemNo,
               sys_ttl AS systemTitle,
               sys_cont AS systemContent,
               prj_no AS projectNo,
               par_sys_no AS parentSystemNo
        FROM system
        WHERE prj_no = #{projectNo}
    </select>

    <select id="getParentSystems" resultType="com.kcc.pms.domain.system.model.dto.SystemPageDto">
        <![CDATA[
        SELECT sys_no as systemNo, sys_ttl as systemTitle FROM (
        SELECT a.*, ROWNUM rnum
        FROM (
        SELECT sys_no, sys_ttl
        FROM System
        WHERE par_sys_no IS NULL and prj_no = #{prjNo}
        ORDER BY sys_no
        ) a
        WHERE ROWNUM <= #{endRow}
        )
        WHERE rnum > #{startRow}
        ]]>
    </select>

    <select id="getSystemName" resultType="string">
        SELECT sys_ttl
        FROM system
        WHERE sys_no = #{systemNo}
    </select>
</mapper>