<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.pms.domain.test.mapper.TestMapper">
    <resultMap id="testDto" type="testDto">
        <result property="testType" column="testType" />
        <result property="testTitle" column="testTitle" />
        <result property="workTitle" column="workTitle" />
        <result property="testStartDate" column="testStartDate"/>
        <result property="testEndDate" column="testEndDate"/>
        <result property="detailCount" column="detailCount" />
        <result property="defectCount" column="defectCount" />
        <result property="testStatus" column="testStatus" />
        <association property="testItem" column="testItem">
            <id property="testNumber" column="testNumber" />
            <result property="testId" column="testId" />
        </association>
    </resultMap>

    <resultMap id="TestPageResponseDto" type="TestPageResponseDto">
        <result property="totalPage" column="totalPage"/>
        <result property="totalElements" column="totalElements"/>
        <collection property="testList" resultMap="testDto"/>
    </resultMap>

    <resultMap id="TestDetailResultMap" type="TestDetailRequestDto">
        <id property="testDetailId" column="testDtlId"/>
        <result property="testData" column="testData"/>
        <result property="estimatedResult" column="estimatedRlt"/>
        <result property="testDetailContent" column="testDetailContent"/>
        <result property="progressContent" column="progressContent"/>
        <result property="preCondition" column="preCondition"/>
        <result property="note" column="note"/>
    </resultMap>

    <resultMap id="TestRequestResultMap" type="TestRequestDto">
        <id property="testNumber" column="testNumber"/>
        <result property="testTitle" column="testTitle"/>
        <result property="testId" column="testId"/>
        <result property="testStartDate" column="testStartDate"/>
        <result property="testEndDate" column="testEndDate"/>
        <result property="testType" column="testType"/>
        <result property="testStatus" column="testStatus"/>
        <result property="workType" column="workType"/>
        <result property="testContent" column="testCont"/>
        <result property="memberName" column="memberName"/>
        <collection property="testCaseList" resultMap="TestDetailResultMap"/>
    </resultMap>

    <resultMap id="codeOptions" type="com.kcc.pms.domain.common.model.dto.CommonCodeOptions">
        <id column="COMMON_CD_NO" property="common_cd_no"/>
        <collection property="codes" resultMap="codeDetails"/>
    </resultMap>

    <resultMap id="codeDetails" type="com.kcc.pms.domain.common.model.vo.CommonCodeVO">
        <result column="CD_DTL_NO" property="cd_dtl_no"/>
        <result column="CD_DTL_NM" property="cd_dtl_nm"/>
        <result column="ORDER_NO" property="order_no"/>
    </resultMap>

    <select id="getCommonCodeOptions" resultMap="codeOptions">
        SELECT common_cd_no, cd_dtl_no, cd_dtl_nm, order_no
        FROM codedetail
        WHERE common_cd_no IN( 'PMS012','PMS013')
        ORDER BY common_cd_no, order_no
    </select>

    <select id="findAllByOptions" parameterType="map" resultMap="TestPageResponseDto">
        SELECT *
        FROM (
        SELECT sub.*, ROWNUM rn
        FROM (
        SELECT
        t.test_no AS testNumber,
        t.test_id AS testId,
        TRIM(cd_type.cd_dtl_nm) AS testType,
        t.test_title AS testTitle,
        sys_work.sys_ttl AS workTitle,
        TO_CHAR(t.test_st_dt, 'YYYY-MM-DD') AS testStartDate,
        TO_CHAR(t.test_end_dt, 'YYYY-MM-DD') AS testEndDate,
        COUNT(DISTINCT td.test_dtl_no) AS detailCount,
        COUNT(d.df_no) AS defectCount,
        TRIM(cd_stat.cd_dtl_nm) AS testStatus,
        count(*) over() totalElements
        FROM testmaster t
        LEFT JOIN testdetail td ON t.test_no = td.test_no
        LEFT JOIN codedetail cd_type ON t.type_cd = cd_type.cd_dtl_no
        LEFT JOIN codedetail cd_stat ON t.stat_cd = cd_stat.cd_dtl_no
        LEFT JOIN defect d ON td.test_dtl_no = d.test_dtl_no
        LEFT JOIN system sys_work ON sys_work.sys_no = t.sys_work_no
        WHERE t.prj_no = #{projectNumber}
        AND t.use_yn = 'Y'
        <if test="workNumber != 0">
            AND t.sys_work_no = #{workNumber, jdbcType=INTEGER} OR sys_work.par_sys_no = #{workNumber, jdbcType=INTEGER}
        </if>
        <if test="testType != 'all'">
            AND t.type_cd = #{testType, jdbcType=CHAR}
        </if>
       <if test="search != null">
            AND (t.test_title LIKE '%' || #{search} || '%' OR t.test_id LIKE '%' || #{search} || '%')
       </if>
        <if test="status != 'all'">
            AND t.stat_cd = #{status, jdbcType=CHAR}
        </if>
        GROUP BY
        t.test_no, t.test_id, cd_type.cd_dtl_nm, t.test_title, sys_work.sys_ttl, t.test_st_dt, t.test_end_dt, cd_stat.cd_dtl_nm, t.reg_dt
        ORDER BY t.reg_dt desc
        ) sub
        <![CDATA[
            WHERE ROWNUM <= #{page} * #{limit}
        ]]>
        )
        WHERE rn > (#{page} - 1) * #{limit}
    </select>

    <select id="getNextTestDetailNo" resultType="long">
        SELECT SEQ_TESTDETAIL.nextval FROM DUAL
    </select>

    <insert id="saveTest" parameterType="map">
        <selectKey keyProperty="testReq.testNumber" resultType="long" order="BEFORE">
            SELECT SEQ_TESTMASTER.nextval FROM DUAL
        </selectKey>

        INSERT INTO testmaster
        (test_no, test_id, test_title, test_cont, stat_cd, type_cd,
         test_st_dt, test_end_dt, prj_no, sys_work_no, reg_id, reg_dt, use_yn)
        VALUES
            (#{testReq.testNumber}, #{testReq.testId}, #{testReq.testTitle},
             #{testReq.testContent}, #{testReq.testStatus},
             #{testReq.testType}, #{testReq.testStartDate, jdbcType=DATE}, #{testReq.testEndDate, jdbcType=DATE},
             #{projectNo}, #{testReq.workSystemNo, jdbcType=NUMERIC},
             #{memberNo},
             sysdate, 'Y')
    </insert>

    <insert id="saveUnitTestDetails" parameterType="TestDetailRequestDto">
        <selectKey keyProperty="testDetailNumber" resultType="long" order="BEFORE">
            SELECT SEQ_TESTDETAIL.nextval FROM DUAL
        </selectKey>

        INSERT INTO testdetail (
            test_dtl_no,
            test_dtl_id,
            pre_cond,
            test_detail_cont,
            test_data,
            estimated_rlt,
            mem_no,
            test_no
        )
        VALUES (
            #{testDetailNumber},
            #{testDetailId},
            #{preCondition},
            #{testDetailContent},
            #{testProcedure},
            #{estimatedResult},
            #{memberNo},
            #{testNumber}
        )
    </insert>


    <insert id="saveIntegrationTestDetails" parameterType="map">
        <selectKey keyProperty="testDetailNumber" resultType="long" order="BEFORE">
            SELECT SEQ_TESTDETAIL.nextval FROM DUAL
        </selectKey>

        INSERT INTO testdetail
        (
            test_dtl_no,
            test_dtl_id,
            wrk_proc_cont,
            feature,
            test_data,
            estimated_rlt,
            test_no
        )
        VALUES
            (
                #{testDetail.testDetailNumber},
                #{testDetail.testDetailId},
                #{testDetail.workContent},
                #{testDetail.feature},
                #{testDetail.testData},
                #{testDetail.expectedResult},
                #{testDetail.testNumber}
            )
    </insert>

    <insert id="saveTestContent" parameterType="map">
        INSERT INTO test_content
        (
            test_dtl_no,
            test_id,
            test_cont
        )
        VALUES
            (
                #{test.testDetailNumber},
                #{test.testId},
                #{test.testContent}
            )
    </insert>

    <select id="getUnitTest" parameterType="long" resultMap="TestRequestResultMap">
        select
            t.test_no as testNumber,
            t.test_title AS testTitle,
            t.test_id AS testId,
            t.test_st_dt AS testStartDate,
            t.test_end_dt AS testEndDate,
            TRIM(cd_type.cd_dtl_nm) AS testType,
            TRIM(cd_stat.cd_dtl_nm) AS testStatus,
            sys_work.sys_ttl AS workType,
            t.test_cont AS testCont,
--             m.mem_nm AS memberName,
            f.feat_title AS featureName,
            td.test_dtl_id AS testDtlId,
            td.pre_cond AS preCondition,
            td.test_detail_cont AS testDetailContent,
            td.progress_cont AS progressContent,
            td.test_data AS testData,
            td.estimated_rlt AS estimatedResult,
            td.note AS note
        from testmaster t
                 left join TESTDETAIL td on t.test_no = td.test_no
                 left join codedetail cd_type on t.type_cd = cd_type.cd_dtl_no
                 left join codedetail cd_stat on t.stat_cd = cd_stat.cd_dtl_no
                 left join defect d on td.test_dtl_no = d.test_dtl_no
                 left join system sys_work ON sys_work.sys_no = t.sys_work_no
                 left join member m ON m.mem_no = td.mem_no
                 left join featureTest ft ON ft.test_dtl_no = td.test_dtl_no
                 left join feature f ON f.feat_no = ft.feat_no
        where t.test_no = #{testNumber, jdbcType=INTEGER}
        order by td.test_dtl_no
    </select>

    <select id="getFeatures" resultType="FeatureSimpleResponseDto">
        SELECT feat_no AS featureNo, feat_title AS featureName
        FROM feature
        WHERE prj_no = #{projectNumber}
    </select>

    <update id="deleteTest" parameterType="long">
        update testmaster t set t.use_yn = 'N' where test_no = #{testNumber, jdbcType=INTEGER}
    </update>
</mapper>