<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kcc.pms.domain.wbs.mapper.WbsMapper">

    <insert id="saveWbs" parameterType="com.kcc.pms.domain.wbs.model.dto.WbsRequestDto">
        <selectKey keyProperty="tsk_no" resultType="long" order="BEFORE">
            SELECT seq_task.nextval FROM dual
        </selectKey>
        insert into task
        (tsk_no, order_no, tsk_ttl, tsk_stat_cd, pre_st_dt, pre_end_dt, prg, use_yn, prj_no,
                <if test="st_dt != null">st_dt,</if>
                <if test="end_dt != null">end_dt,</if>
                <if test="weight_val != null">weight_val,</if>
                <if test="rel_out_nm != null">rel_out_nm,</if>
                <if test="par_task_no != null">par_task_no,</if>
                <if test="ante_task_no != null">ante_task_no,</if>
                <if test="sys_no != null">sys_no,</if>
        reg_id, reg_dt)
        values (#{tsk_no}, #{order_no}, #{tsk_ttl}, #{tsk_stat_cd}, TO_DATE(#{pre_st_dt}, 'YYYY-MM-DD'), TO_DATE(#{pre_end_dt}, 'YYYY-MM-DD'), #{prg}, 'Y', #{prj_no},
                <if test="st_dt != null">TO_DATE(#{st_dt}, 'YYYY-MM-DD'),</if>
                <if test="end_dt != null">TO_DATE(#{end_dt}, 'YYYY-MM-DD'),</if>
                <if test="weight_val != null">#{weight_val},</if>
                <if test="rel_out_nm != null">#{rel_out_nm},</if>
                <if test="par_task_no != null">#{par_task_no},</if>
                <if test="ante_task_no != null">#{ante_task_no},</if>
                <if test="sys_no != null">#{sys_no},</if>
        #{reg_id}, SYSDATE)
    </insert>

    <insert id="saveWbsMember" parameterType="com.kcc.pms.domain.wbs.model.dto.WbsRequestDto">
        insert into taskmember
        (mem_no, tm_no, prj_no, tsk_no)
        values (#{memNo}, #{tmNo}, #{prj_no}, #{tsk_no})
    </insert>

    <insert id="saveWbsOutput" parameterType="com.kcc.pms.domain.wbs.model.dto.WbsRequestDto">
        insert into taskoutput
        (task_no, folder_no)
        values (#{tsk_no}, #{folderNo})
    </insert>

    <select id="getWbsList" resultType="com.kcc.pms.domain.wbs.model.dto.WbsResponseDto">

        SELECT
            t.*,
            CASE
                WHEN t.tsk_stat_cd = 'PMS00101' THEN '대기'
                WHEN t.tsk_stat_cd = 'PMS00102' THEN '진행중'
                ELSE '완료'
            END AS wbs_status,
        (
            SELECT
            LISTAGG(m.mem_nm, ',') WITHIN GROUP (ORDER BY m.mem_no)
            FROM taskmember tm
            JOIN member m ON tm.mem_no = m.mem_no
            WHERE tm.prj_no = t.prj_no
            AND tm.tsk_no = t.tsk_no
        ) AS mem_nms,
        (
            SELECT
            LISTAGG(tm.tm_no, ',') WITHIN GROUP (ORDER BY tm.tm_no)
            FROM taskmember tm
            WHERE tm.prj_no = t.prj_no
            AND tm.tsk_no = t.tsk_no
        ) AS tm_numbers,
        (
            SELECT LISTAGG(tm.mem_no, ',') WITHIN GROUP (ORDER BY tm.mem_no)
            FROM taskmember tm
            WHERE tm.prj_no = t.prj_no
            AND tm.tsk_no = t.tsk_no
        ) AS mem_numbers
        FROM task t
        WHERE t.prj_no = #{prj_no}
        <if test="tsk_no != null and tsk_no != ''">
            AND t.tsk_no = #{tsk_no}
        </if>
        order by t.tsk_no
    </select>


    <select id="getTopTaskList" resultType="com.kcc.pms.domain.wbs.model.dto.WbsResponseDto">
        SELECT
            tsk_no, par_task_no, tsk_ttl
        FROM task
        WHERE
            prj_no = #{prj_no}
        START WITH tsk_no = #{tsk_no}
        CONNECT BY PRIOR par_task_no = tsk_no
        ORDER BY SYS_CONNECT_BY_PATH(par_task_no, '/') DESC
    </select>


    <select id="getMaxOrderNo" resultType="Integer">
        SELECT MAX(order_no) FROM task WHERE par_task_no = #{parentNo}
    </select>


    <select id="getWbsByNo" resultType="com.kcc.pms.domain.wbs.model.vo.Wbs">
        SELECT tsk_no AS wbsNo,
               tsk_ttl AS wbsName,
               par_task_no AS parentNo,
               order_no AS orderNo
        FROM task
        WHERE tsk_no = #{wbsNo}
    </select>


    <select id="getSiblings" resultType="com.kcc.pms.domain.wbs.model.vo.Wbs">
        SELECT tsk_no AS wbsNo,
               tsk_ttl AS wbsName,
               par_task_no AS parentNo,
               order_no AS orderNo
        FROM task
        WHERE par_task_no = #{parentNo}
        ORDER BY order_no ASC
    </select>


    <update id="updateWbsOrder">
        UPDATE task
        SET order_no = #{orderNo}
        <if test="parentNo != null">
            , par_task_no = #{parentNo}
        </if>
        WHERE tsk_no = #{wbsNo}
    </update>


    <update id="updateWbs">
        UPDATE task
        SET tsk_ttl = #{tsk_ttl}
        <if test="tsk_stat_cd != null">
            , tsk_stat_cd = #{tsk_stat_cd}
        </if>
        <if test="pre_st_dt != null">
            , pre_st_dt = TO_DATE(#{pre_st_dt}, 'YYYY-MM-DD')
        </if>
        <if test="pre_end_dt != null">
            , pre_end_dt = TO_DATE(#{pre_end_dt}, 'YYYY-MM-DD')
        </if>
        <if test="st_dt != null">
            , st_dt = TO_DATE(#{st_dt}, 'YYYY-MM-DD')
        </if>
        <if test="end_dt != null">
            , end_dt = TO_DATE(#{end_dt}, 'YYYY-MM-DD')
        </if>
        <if test="weight_val != null">
           , weight_val = #{weight_val}
        </if>
        <if test="prg != null">
           , prg = #{prg}
        </if>
        <if test="rel_out_nm != null">
            , rel_out_nm = #{rel_out_nm}
        </if>
        <if test="sys_no != null">
            , sys_no = #{sys_no}
        </if>
        WHERE prj_no = #{prj_no}
        AND tsk_no = #{tsk_no}
    </update>

    <delete id="deleteWbsMember">
        delete from taskmember
        where prj_no = #{prj_no}
        and tsk_no = #{tsk_no}
    </delete>

    <delete id="deleteWbs">
        DELETE FROM task
        WHERE tsk_no IN
        (
            SELECT tsk_no
            FROM task
            WHERE prj_no = #{prj_no}
            START WITH tsk_no = #{tsk_no}
            CONNECT BY PRIOR tsk_no = par_task_no
        )
    </delete>

    <delete id="deleteWbsOutput">
        delete from taskoutput
        where task_no = #{tsk_no}
    </delete>

    <select id="getWbsOutputList" resultType="com.kcc.pms.domain.wbs.model.dto.WbsResponseDto">
        select o.opt_no as optNo,  o.opt_ttl as optTitle
        from taskoutput t
        join output o
        on t.folder_no = o.opt_no
        where t.task_no = #{tsk_no}
    </select>

</mapper>